.shadow-box{
    background: rgb(0,196,204);
    background: linear-gradient(90deg, rgba(0,196,204,1) 0%, rgba(124,42,232,1) 100%);
    border-radius: 5px;
}

.shadow-content{
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

.shadow-box{
    padding: 7px;
}

.shadow-box:hover{
    padding: 2px 2px 12px 12px;
    transition: 0.25s;
}

.shadow-box{
    transition: 0.25s;
}


.color-badge{
    background: rgb(0,196,204);
    background: linear-gradient(90deg, rgba(0,196,204,1) 0%, rgba(124,42,232,1) 100%);
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

/* .shadow-box{
    transition: 0.25s;
    background: rgb(0,196,204);
    background: linear-gradient(90deg, rgba(0,196,204,1) 0%, rgba(124,42,232,1) 100%);
    border-radius: 5px;
    padding: 7px 7px 7px 7px;
}
.shadow-box:hover{
    padding: 1px 1px 13px 13px;
    transition: 0.25s;

}
.color-badge{
    color: #FFFFFF;
    width: 40%;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin-left: 20px;
    background: rgb(0,196,204);
    background: linear-gradient(90deg, rgba(0,196,204,1) 0%, rgba(124,42,232,1) 100%);

}
.article-img-normal{
    width: 100%;
    height: auto;
} */
