.email-form{
    padding: 5px 0px;
    border: 1px solid #8c52ff;
    background: #8c52ff20;
    border-radius: 5px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}
.email-form h2{
    margin: 0;
    margin-bottom: 10px;
    color: #8c52ff;
}
.email-form input{
    display: inline-block;
    width: 300px;
    text-align: center;
    border: 2px solid #8c52ff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.email-form button{
    cursor: pointer;
}
#close-form{
    border: 2px solid #8c52ff;
    background: #8c52ff;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 3px 7px;
    /* margin-left: 7px;    */
    position: absolute;
    top: 7px;
    left: 7px;
}   
#subscribe-button{
    cursor: pointer;
    display: inline-block;  
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 2px solid #8c52ff;
    background: #8c52ff;
    color: #FFFFFF;
    border-radius: 100px;
    margin-bottom: 10px;
}
#subscribe-button *{
    margin: 0px;
    padding: 0px;
}
.warning-message{
    font-size: 1rem;
}
.subscribe-success{
    background: #00FF0020;
    border: 2px solid #00FF00;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 10px;
}
